[submodule "surf"]
	path = surf
	url = https://github.com/hXtreme/suckless-surf
[submodule "tabbed"]
	path = tabbed
	url = https://github.com/hXtreme/suckless-tabbed
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/hXtreme/suckless-dmenu
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/hXtreme/suckless-slstatus
[submodule "wmname"]
	path = wmname
	url = https://github.com/hXtreme/suckless-wmname
[submodule "dwm"]
	path = dwm
	url = https://github.com/hXtreme/suckless-dwm
[submodule "st"]
	path = st
	url = https://github.com/hXtreme/suckless-st
